.header
{
	height : 39px;
	line-height : 39px;
	background-color : #f75940;
	font-size : 22px;
}

#header-name
{
	padding-left: 20px;
}

.head-item
{
	text-align : center;
	vertical-align : middle;
	font-size : 19px;
}

.footer
{

}
