.header
{
	height : 39px;
	line-height : 39px;
	background-color : #804515;
}

#header-name
{
	padding-left: 20px;
	color : #FFD1AA;
	font-size : 22px;
}

#header-span-name
{
	color : #FFD1AA;
}

.hyper:hover
{
	text-decoration : none;
}

.hyper
{
	text-decoration : none;
	color : #FFD1AA;
	font-size : 20px;
}

.head-item
{
	text-align : center;
	vertical-align : middle;
	font-size : 19px;
}

.bodycontcont
{
	position : relative;
	height : 100%;
}

.bodycont
{
}

.post
{
	height : 100px;
	line-height : 100px;
	background-color : #804515;
}

.footer
{
	height : 39px;
	background-color : #552700;
	margin-right : 8px;
}
