.header
{
	height : 3.5em;
	line-height : 3.5em;
	background-color : #AA6C39;
}


#header-section
{
}

#header-name
{
	padding-left: 20px;
	color : #FFD1AA;
	font-size : 1.8em;
}

#header-right
{
	padding-right: 20px;
}

.head-item
{
	text-align : center;
	vertical-align : middle;
}

.hyper:hover {
	text-decoration : none;
	color : #FFD1AA;
}

.hyper
{
	text-decoration : none;
	color : #FFD1AA;
	font-size : 1.2em;
}

.bodycontcont
{
	position : relative;
	height : 100%;
}

#back
{
	background-color: #FFD1AA;
}

.post
{
	height : 100px;
	line-height : 100px;
	background-color : #804515;
	margin-top: 11px;
	margin-bottom: 11px;
}

.w-wrap
{
	float : right;
}

#long-card
{
	height : 350px;
}

.footer
{
	height : 2.5em;
	background-color : #header;
}
