{{define "title"}}
Dzlyy: {{.Title}}
{{end}} 

{{define "body"}}
<!-- <div class="mx-lg-5"> -->
<div class="container">
	<div class="py-5 row border-bottom">
		<div class="col">
			<div class="mx-auto" style="z-index:1;max-width:250px;max-height:400px">
				<img class="rounded-circle img-fluid" style="z-index:0"src="/static/img/20180617_115157.jpg">
				</img>
			</div>
		</div>
		<div class="col my-auto">
			<div style="max-width:400px;">
				<h3>Darius Z Lee</h3>
				<p>Hey, I'm a 24 year old software developer from Ottawa, Canada. I breathe, eat, and sleep. I also like using my legs sometimes.</p>
			</div>
		</div>
	</div>
	<div class="row mx-auto">
		<div class="py-5 col-12 col-md-6">
			<div class="mx-auto" style="max-width:400px;">
				<h3>Quick Facts</h3>
				<ul>
					<li>Working as a junior software developer in Ottawa</li>
					<li>Studied at the University of Ottawa Computer Science</li>
					<li>Accepted to Berklee School of Music for jazz guitar, chose computing instead.</li>
				</ul>
			</div>
		</div>
		<div class="py-5 col-12 col-md-6">
			<div class="mx-auto mx-md-0" style="max-width:400px;">
				<h3>Hobbies</h3>
				<ul>
					<li>Learning and contributing to the open source landscape.</li>
					<li>Making music.</li>
					<li>Consuming the cooking, music, film, art of all the cultures.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{{end}}
