{{define "title"}}
Dzlyy: {{.Title}}
{{end}} 

{{define "body"}}
<!-- <div class="mx-lg-5"> -->
<div class="border-bottom dzl-about-hdr">
	<div class="dzl-about-bkg">
	</div>
	<div class="py-5 row ">
		<div class="col" style="text-align:right">
			<img class="border dzl-about-headshot rounded-circle" style="z-index:0"src="https://imgur.com/MuKXrzR.jpg">
			</img>
		</div>
		<div class="col my-auto">
			<div style="max-width:400px;">
				<h3>Darius Z Lee</h3>
				<p>Hey, I'm a 24 year old software developer from Ottawa, Canada. I breathe, eat, and sleep.</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row mx-auto">
		<div class="border-bottom py-5 col-12" >
			<div class="mx-auto" style="max-width:400px;text-align:left"> 
				<h2>Short Resume</h2>
				<div class="my-4">
					<h5>Education</h5>
					<ul>
						<li>Honours in Computer Science - University of Ottawa</li>
					</ul>
				</div>
				<h5>Experience</h5>
				<ul>
					<li>Software Developer at Ericsson, Canada : August 2017 to Present</li>
					<li>Software Consultant at CMHC : October 2016 to April 2017</li>
					<li>Software Developer at Foci Solutions : April 2016 to October 2016</li>
				</ul>
			</div>
		</div>
		<div class="py-5 pt-lg-5 col-12 col-lg-6">
			<div class="mx-auto" style="max-width:400px;">
				<h3>Quick Facts</h3>
				<ul>
					<li>Working as a junior software developer in Ottawa</li>
					<li>Studied at the University of Ottawa Computer Science</li>
					<li>Accepted to Berklee School of Music for jazz guitar, chose computing instead.</li>
				</ul>
			</div>
		</div>
		<div class="py-5 col-12 col-lg-6">
			<div class="mx-auto" style="max-width:400px;">
				<h3>Hobbies</h3>
				<ul>
					<li>Learning and contributing to the open source landscape.</li>
					<li>Making music.</li>
					<li>Consuming the cooking, music, film, art of all the cultures.</li>
				</ul>
			</div>
		</div>
	</div>
</div>
{{end}}
