{{define "title"}}
Dzlyy: {{.Title}}
{{end}} 

{{define "body"}}
<div style="background-image:url({{.Image}});" class="dzl-img-full">
	<div class="dzl-img-header">{{.Title}}
		<p class="dzl-img-description">{{.Description}}</p>
	</div>
</div>
<div class="container" style="max-width:656px;">
	<div >
		{{template "blog"}}
	</div>
	<div class="container my-3">
		<i class="fa fa-book fa-3x my-3 d-flex justify-content-center"></i>
	</div>
	<div class="container my-3">
		<h3>Comments</h3>
	</div>
</div>
{{end}}
