{{define "title"}}
Dzlyy: {{.Title}}
{{end}} 

{{define "body"}}
<div class="border-bottom dzl-img-header">
	{{.Title}}
	<p class="dzl-img-description">{{.Description}}</p>
	<p class="dzl-img-description"><strong>{{.Date}}</strong><p>
</div>
<div style="background-color:#000000;background-image:url({{.Image}});" class="dzl-img-full">
</div>
<div class="container" style="max-width:656px;">
	<div class="my-5">
		{{template "blog"}}
	</div>
	<div class="my-3">
		<i class="fa fa-book fa-3x my-3 d-flex justify-content-center"></i>
	</div>
	<!-- <div class="my-3"> -->
	<!-- 	<h3>Comments</h3> -->
	<!-- </div> -->
</div>
{{end}}
