{{define "title"}}
Dzlyy: Blogs
{{end}} 

{{define "body"}}
<div class="dzl-blogs-title">
	<div class="dzl-blogs-title-img">
	</div>
	<div class="dzl-blogs-info">
		<h1>dzlyy> Journals</h1>
		<p>All posts, filter by typing in keywords</p>
	</div>
	<!-- <div class="my-5"> -->
	<!-- 	<div class="my-2"> -->
	<!-- 		<input class="rounded pl-3" style="height:50px;width:80%;" type="search" id="search" placeholder="Not implmented fuzzy search..."/> -->
	<!-- 	</div> -->
	<!-- </div> -->
</div>
<div class="my-5 container">
	{{ range .Blogs }}
	<a class="my-2 mx-auto row justify-content-center" href="/blog/{{.Id}}">
		<div class="col">
			<div class="ml-auto rounded dzl-blogs-img" style="background-image:url({{.Image}});">
			</div>
		</div>
		<div class="col dzl-blogs-txt my-auto">
			<h3 class="dzl-blogs-head">{{.Title}}</h3>
			<p class="dzl-blogs-txt">{{.Description}}<p>
			<p class="dzl-blogs-txt"><strong>{{.Date}}</strong><p>
		</div>
	</a>
	{{end }}
</div>
{{end}}
