{{define "title"}}
Dzlyy: Home
{{end}} 

{{define "body"}} 
<div class="border-bottom">
	<div class="container mb-5">
		<div class="mb-3">
			<h1 class="text-center">The keep me honest blog...</h1>
		</div>
		<div>
			<p class="text-center">A journal style blog to keep me organized and hopefully help others.</p>
		</div>
	</div>
</div>
<div class="container mb-5">
	<div class="my-5">
		<h4 class="text-center">Most recent</h4>
	</div>
	<div class="row">
		{{ range .Blogs }}
		<div class="col-12 col-md-6 col-lg-4 my-2">
			<div class="card">
				<div class="card-body">
					<h5>
						{{ .Title }}
					</h5>
					<p>
						{{ .Description }}
					</p>
				</div>
			</div>
		</div>
		{{ end }}
	</div>
	<div class="my-5">
		<h4 class="text-center">Projects</h4>
	</div>
	<div class="row">
		{{ range .Projects }}
		<div class="col-12 col-md-6 col-lg-4 my-2">
			<div class="card">
				<div class="card-body">
					<h5>
						{{ .Title }}
					</h5>
					<p>
						{{ .Description }}
					</p>
				</div>
			</div>
		</div>
		{{ end }}
	</div>
</div>
{{end}}
