{{define "title"}}
Dzlyy: Home
{{end}} 

{{define "body"}} 
<div class="dzl-img-home-text container my-5">
	<div class="mb-3">
		<h1 class="text-center"><strong class="dzl-txt-emphasis">dzlyy></strong> the keep me honest blog<h1>
	</div>
	<div>
		<p class="text-center">A journal style blog to keep me organized and hopefully help the other newbies out there.</p>
	</div>
</div>
<div class="border-bottom dzl-img-home">
</div>
<div class="row dzl-nopadding">
	<a class="col-12 col-lg-6 dzl-home-info" href="/blogs">
		<div class="dzl-home-info-bkg dzl-home-info" style="background-image:url(https://i.imgur.com/nEABU3I.jpg)">
		</div>
		<div class="dzl-home-abs-jrn">
			<h1 class="dzl-home-info-hdr">Journals</h1>
			<p class="dzl-home-info-txt"><i>Where the content is...</i></p>
		</div>
	</a>
	<a href="/about" class="col-12 col-lg-6 dzl-home-info" >
		<div class="dzl-home-info-bkg dzl-home-info" style="background-image:url(https://i.imgur.com/xryQ6SO.jpg)">
		</div>
		<div class="dzl-home-abs-about row">
			<div class="dzl-home-info-img col-6 text-right">
				<img class="rounded-circle dzl-home-info-img" style="z-index:0"src="https://imgur.com/MuKXrzR.jpg">
				</img>
			</div>
			<div class="my-auto text-center">
				<h1 class="dzl-home-info-hdr">About Me</h1>
				<p class="dzl-home-info-txt"><i>A little info...</i></p>
			</div>
		</div>
	</a>
</div>
<!-- <div class="row mb-5"> -->
<!-- 	<div class="col-12 col-md-6 mx-md-auto border-bottom dzl-full-screen"> -->
<!-- 		<div class="my-5"> -->
<!-- 			<h4 class="text-center">Most recent posts</h4> -->
<!-- 		</div> -->
<!-- 		<div id="blogSlide" class="carousel slide dzl-full-minus-header" data-interval="3000" data-ride="carousel"> -->
<!-- 			<ul class="carousel-indicators"> -->
<!-- 				<li data-target="#blogSlide" data-slide-to="{{.ActiveBlog.Count}}" class="active"></li> -->
<!-- 				{{ range .Blogs }} -->
<!-- 				<li data-target="#blogSlide" data-slide-to="{{.Count}}" ></li> -->
<!-- 				{{ end }} -->
<!-- 			</ul> -->
<!-- 			<div class="carousel-inner dzl-full-minus-header"> -->
<!-- 				<a href="./blog/{{.ActiveBlog.Id}}" class="carousel-item active dzl-full-minus-header"> -->
<!-- 					<div class="d-block w-100 dzl-img dzl-full-minus-header" style="background-image:url({{.ActiveBlog.Image}});"> -->
<!-- 					</div> -->
<!-- 					<div class="dzl-caption carousel-caption"> -->
<!-- 						<h5> -->
<!-- 							{{ .ActiveBlog.Title }} -->
<!-- 						</h5> -->
<!-- 						<p> -->
<!-- 							{{ .ActiveBlog.Description }} -->
<!-- 						</p> -->
<!-- 					</div> -->
<!-- 				</a> -->
<!-- 				{{ range .Blogs }} -->
<!-- 				<a href="./blog/{{.Id}}" class="carousel-item dzl-full-minus-header"> -->
<!-- 					<div class="d-block w-100 dzl-img dzl-full-minus-header" style="background-image:url({{.Image}});"> -->
<!-- 					</div> -->
<!-- 					<div class="dzl-caption carousel-caption"> -->
<!-- 						<h5> -->
<!-- 							{{ .Title }} -->
<!-- 						</h5> -->
<!-- 						<p> -->
<!-- 							{{ .Description }} -->
<!-- 						</p> -->
<!-- 					</div> -->
<!-- 				</a> -->
<!-- 				{{ end }} -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- 	<div class="col-12 col-md-6 px-md-2 dzl-full-screen"> -->
<!-- 		<div class="my-5"> -->
<!-- 			<h4 class="text-center">Projects</h4> -->
<!-- 		</div> -->
<!-- 		<div id="projectSlide" class="dzl-full-minus-header carousel slider" data-ride="carousel"> -->
<!-- 			<ol class="carousel-indicators"> -->
<!-- 				<li data-target="#projectSlide" data-slide-to="{{.ActiveProject.Id}}" class="active"></li> -->
<!-- 				{{ range .Projects }} -->
<!-- 				<li data-target="#projectSlide" data-slide-to="{{.Id}}"></li> -->
<!-- 				{{ end }} -->
<!-- 			</ol> -->
<!-- 			<div class="dzl-full-minus-header carousel-inner"> -->
<!-- 				<div class="dzl-full-minus-header carousel-item active" > -->
<!-- 					<div class="d-block w-100 dzl-full-minus-header dzl-img" > -->
<!-- 					</div> -->
<!-- 					<div class="dzl-caption carousel-caption"> -->
<!-- 						<h5 style="color:#000000"> -->
<!-- 							{{ .ActiveProject.Title }} -->
<!-- 						</h5> -->
<!-- 						<p style="color:#000000"> -->
<!-- 							{{ .ActiveProject.Description }} -->
<!-- 						</p> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				{{ range .Projects }} -->
<!-- 				<div class="dzl-full-minus-header carousel-item "> -->
<!-- 					<div class="d-block w-100 dzl-full-minus-header dzl-img" style="background-color:#555555;"> -->
<!-- 					</div> -->
<!-- 					<div class="dzl-caption carousel-caption"> -->
<!-- 						<h5> -->
<!-- 							{{ .Title }} -->
<!-- 						</h5> -->
<!-- 						<p> -->
<!-- 							{{ .Description }} -->
<!-- 						</p> -->
<!-- 					</div> -->
<!-- 				</div> -->
<!-- 				{{ end }} -->
<!-- 			</div> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->
{{end}}
